<div class="card shadow-sm mb-4">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Quản lý Thiết bị</h5>
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Thiết bị</th>
                        <th>Phòng</th>
                    </tr>
                </thead>
                <tbody>
                    <% devices.forEach(device => { %>
                    <tr>
                        <td><%= device.device_name %></td>
                        <td><%= device.room_id %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
