<div class="d-flex justify-content-between align-items-center py-3 px-3 border-bottom mb-3">
    <div>
        <h1 class="h2 mb-0">Smart booking</h1>
        <p class="text-muted mb-0">Tổng quan về trạng thái hệ thống phòng học</p>
    </div>
    <div class="dropdown">
        <div class="d-flex align-items-center gap-2 dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle fs-4 text-primary"></i>
          <span class="fw-bold text-dark">Xin chào, <span id="username">Admin</span></span>
        </div>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <form id="logoutForm" action="/logout" method="POST" onsubmit="return confirmLogout()">
              <button type="submit" class="dropdown-item text-danger">Đăng xuất</button>
            </form>
          </li>
        </ul>
      </div>
      <script>
        function confirmLogout() {
            return confirm("Bạn có chắc chắn muốn đăng xuất?");
        }
    </script>
    
</div>

