<div class="col-md-3 col-lg-2 d-md-block sidebar collapse p-0">
    <div class="position-sticky pt-3">
        <div class="p-3 border-bottom border-secondary">
            <h4 class="text-white">Manage HCMUT</h4>
        </div>
        <ul class="nav flex-column sidebar-menu mt-3">
            <li class="nav-item">
                <a class="nav-link active px-3 py-2 rounded-2" href="#">
                    <i class="bi bi-speedometer2 me-2"></i>Tổng quan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 py-2 rounded-2" href="#">
                    <i class="bi bi-door-open me-2"></i>Danh sách phòng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 py-2 rounded-2" href="#">
                    <i class="bi bi-calendar-check me-2"></i>Tài khoản
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 py-2 rounded-2" href="#">
                    <i class="bi bi-pc-display me-2"></i>Hỗ trợ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 py-2 rounded-2" href="#">
                    <i class="bi bi-list-check me-2"></i>Sự cố kỹ thuật
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 py-2 rounded-2" href="#">
                    <i class="bi bi-file-earmark-bar-graph me-2"></i>Quản lý thiết bị
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 py-2 rounded-2" href="#">
                    <i class="bi bi-gear me-2"></i>Danh sách đặt chỗ
                </a>
            </li>
        </ul>
    </div>
</div>